# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [11]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [12]:
# Run this code:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [13]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

# Challenge 2
This is a placeholder to make the AI corrector be able to find the correct exercise for feedback

# Challenge 3 - Constructing Confidence Intervals

We will test whether the hourly wage of all hourly workers is significantly different from $30/hr.

In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. Is $30/hr within that interval?

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [36]:
import pandas as pd
import numpy as np
from scipy import stats


# Filter for hourly workers and get their rates
hourly_workers = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate'].dropna()

# Calculate statistics for all hourly workers
mean_wage = hourly_workers.mean()
sem = stats.sem(hourly_workers)
ci = stats.t.interval(0.95, 
                     len(hourly_workers)-1,
                     loc=mean_wage,
                     scale=sem)

print("Full Dataset Analysis:") 
print("Number of hourly workers:", len(hourly_workers))
print("Mean hourly wage: $" + str(round(mean_wage, 2)))
print("95% Confidence Interval: ($" + str(round(ci[0], 2)) + ", $" + str(round(ci[1], 2)) + ")")

Full Dataset Analysis:
Number of hourly workers: 8022
Mean hourly wage: $32.79
95% Confidence Interval: ($32.52, $33.05)

This is fine if we have thousands of worker data. But what if we have only 100 workers data?

Sample 100 workers and re-construct the 95% confidence interval. Is the interval wider of narrower? And why?
Do you still encapsulate the $30/hr mark in this case?

In [37]:


# Now let's sample 100 workers
np.random.seed(42)  # for reproducibility
sampled_workers = hourly_workers.sample(n=100)

# Calculate statistics for sampled workers
sample_mean = sampled_workers.mean()
sample_sem = stats.sem(sampled_workers)
sample_ci = stats.t.interval(0.95,
                           len(sampled_workers)-1,
                           loc=sample_mean,
                           scale=sample_sem)

print("\
Sampled 100 Workers Analysis:")
print("Mean hourly wage: $" + str(round(sample_mean, 2)))
print("95% Confidence Interval: ($" + str(round(sample_ci[0], 2)) + ", $" + str(round(sample_ci[1], 2)) + ")")

# Calculate interval widths
full_width = ci[1] - ci[0]
sample_width = sample_ci[1] - sample_ci[0]

print("\
Interval Widths:")
print("Full dataset interval width: $" + str(round(full_width, 2)))
print("Sampled data interval width: $" + str(round(sample_width, 2)))

Sampled 100 Workers Analysis:
Mean hourly wage: $33.46
95% Confidence Interval: ($30.83, $36.08)
Interval Widths:
Full dataset interval width: $0.53
Sampled data interval width: $5.25